body {
    font-family:Arial, Helvetica, sans-serif;
}
div {
    margin: .33em 0;
}
form {
    margin-bottom:4em;
}
select {
    margin-left:1em;
}
h3{
    margin-top:0;
    margin-bottom:1em;
}
.calculator {
    border:2px solid black;
    padding:1em;
    display:inline-block;
    width:650px;
}
/* tooltip code from https://www.w3schools.com/howto/howto_css_tooltip.asp */
.tooltip {
    /* position: relative; */
    /* display:flex; */
    display: none;
    /* margin:1em; */
    /* max-width:700px; */
}
.tooltip .tooltipText {
    visibility:collapse;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    display:inline-block;
    margin-bottom: 1em;
    /* width:100%; */
    z-index: 1;
    opacity: 0;
    transition: opacity .8s;
}

@media only screen and (max-width: 649px) {
    .calculator {
        width:90%;
    }
}

