body {
    font-family:Arial, Helvetica, sans-serif;
}
div {
    margin: .5em 0;
    display:flex;
    /* justify-content:space-between; */
    flex-wrap: wrap;
    /* width:100%; */
}
form {
    margin-bottom:4em;
}
select {
    margin-left:1em;
}
h3{
    margin-top:0;
    margin-bottom:0;
}
.calculator {
    border:2px solid black;
    padding:1em;
    display:inline-block;
}
/* tooltip code from https://www.w3schools.com/howto/howto_css_tooltip.asp */
.tooltip {
    /* position: relative; */
    /* display:flex; */
    display: none;
    max-width:700px;
}
.tooltip .tooltipText {
    visibility:collapse;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    display:inline-block;
    width:100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .8s;
}



