body {
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}
div {
    margin: .33em 0;
}
form {
    margin-bottom:2em;
}
h2{
    margin-bottom:.75em;
}
h5{
    margin-top:0;
    margin-bottom:1em;
}
section {
    display:inline-block;
    margin:1em;
    max-width:90%;
}
.calculator {
    border:2px solid black;
    padding:1em;
}
.info {
    display:none;
    max-width:650px;
}
.output {
    margin-top:2em;
}
